[submodule "thirdparty/catch2"]
	path = thirdparty/catch2
	url = https://github.com/CatchOrg/catch2.git
[submodule "thirdparty/trompeloeil"]
	path = thirdparty/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
